[Desktop Entry]
Type=Application
Version=1.0
Name=Kiro News
GenericName=News Reader
GenericName[de]=Nachrichtenleser
GenericName[fr]=Lecteur d'actualités
GenericName[nl]=Nieuwslezer
GenericName[es]=Lector de noticias
GenericName[it]=Lettore di notizie
GenericName[pt_BR]=Leitor de notícias
GenericName[pt]=Leitor de notícias
GenericName[ru]=Читалка новостей
GenericName[pl]=Czytnik wiadomości
GenericName[uk]=Читач новин
GenericName[zh_CN]=新闻阅读器
GenericName[ja]=ニュースリーダー
GenericName[tr]=Haber okuyucu
GenericName[cs]=Čtečka novinek
Comment=Read recent Arch Linux and Kiro news
Comment[de]=Aktuelle Arch-Linux- und Kiro-Nachrichten lesen
Comment[fr]=Lisez les dernières actualités d'Arch Linux et de Kiro
Comment[nl]=Lees recent nieuws over Arch Linux en Kiro
Comment[es]=Lea las noticias recientes de Arch Linux y Kiro
Comment[it]=Leggi le ultime notizie su Arch Linux e Kiro
Comment[pt_BR]=Leia as notícias recentes do Arch Linux e do Kiro
Comment[pt]=Leia as notícias recentes do Arch Linux e do Kiro
Comment[ru]=Читайте свежие новости Arch Linux и Kiro
Comment[pl]=Czytaj najnowsze wiadomości o Arch Linux i Kiro
Comment[uk]=Читайте свіжі новини Arch Linux та Kiro
Comment[zh_CN]=阅读最新的 Arch Linux 和 Kiro 新闻
Comment[ja]=Arch Linux と Kiro の最新ニュースを読む
Comment[tr]=Arch Linux ve Kiro ile ilgili son haberleri okuyun
Comment[cs]=Čtěte aktuální zprávy o Arch Linuxu a Kiru
Exec=kiro-news show
Icon=rss
Terminal=false
Categories=X-Kiro;
Keywords=kiro;news;arch;announcements;updates;
